@import "vars"

@media only screen and (max-width : 992px)
	/**/
	.rangeslider::after
		display: none
	.range__variants 
		span:nth-child(4)
			padding-left: 41px

@media only screen and (max-width : 767px)
	/**/
	h1
		margin-top: 112px
	.user__info-descr__top
		p
			width: 100%
	main::after
		top: 0
	.menu
		display: none
		ul
			flex-flow: column
			text-align: center
	.range__variants
		display: none
	.experience__list
		li
			width: 50%
	.user__info:nth-of-type(4) 
		p
			width: 100%

@media only screen and (max-width : 480px)
	/**/
	.experience__list
		li
			width: 100%
	.dropdown
		width: 100%

@media only screen and (min-width : 768px)
	/**/
	#nav-toggle
		display: none
	.menu
		display: block !important

@media only screen and (min-width : 992px)
	/**/
	form
		width: 800px
