@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #c8c8c8
	opacity: 1
	font-size: 24px
	position: relative
	top: 0
	z-index: 0

*:-moz-placeholder
	color: #c8c8c8
	opacity: 1
	font-size: 24px
	position: relative
	top: 0
	z-index: 0

input::-moz-placeholder
	color: #c8c8c8
	opacity: 1
	font-size: 24px
	position: relative
	top: 0
	z-index: 0

*:-ms-input-placeholder
	color: #c8c8c8
	opacity: 1
	font-size: 24px
	position: relative
	top: 0
	z-index: 0

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $regular
	overflow-x: hidden
	opacity: 1
	margin: 0
	color: #000
input, textarea
	width: 100%
	color: #000
	border: 1px solid #c8c8c8
	font-family: $regular
	font-size: 24px
	border-radius: 5px
	
input:focus, textarea:focus, input:valid, textarea:valid 
	padding-top: 17px
input
	height: 60px
	text-align: center
	margin-bottom: 23px
input[type="submit"]
	width: 115px
	height: 50px
	background-color: $accent
	color: #fff
	padding: 0
	font-size: 16px
	font-family: $light
	border-radius: 9px
	margin: auto
	cursor: pointer
input[type="checkbox"]
	display: none
form
	margin-right: auto
	margin-left: auto
	padding-left: 15px
	padding-right: 15px
	padding-bottom: 71px
	&::after, &::before
		content: ''
		display: table
	&::after
		clear: both
a, a:hover, a:active, a:focus
	text-decoration: none
	color: $accent
a, input, textarea, select, button
	outline: none !important
h1, h2, h3, h4, h5, h6
	line-height: 1.3
	font-family: $thin
	font-weight: normal
	text-align: center
h1
	font-size: 70px
	margin-top: 218px
h2
	font-size: 30px
	margin-bottom: 50px
.clearfix
	&::after
		content: ""
		display: block
		clear: both

main
	z-index: 1
	&::before,
		content: ''
		position: absolute
		left: 0
		top: 88px
		width: 100%
		height: 1px
		background-color: #d9d9d9
		z-index: -1
	&::after
		content: ''
		position: absolute
		left: 0
		top: 88px
		width: 100%
		height: 200px
		background-image: url("../img/form_bg.png")
		background-size: cover
		background-position: top center
		background-repeat: no-repeat
		z-index: -1
.menu
	background-color: #fff
	position: fixed
	width: 100%
	left: 0
	z-index: 20
	ul
		list-style: none
		margin: auto
		padding: 0
		display: flex
		justify-content: center
		flex-wrap: wrap
		padding-top: 31px
		padding-bottom: 31px
		li
			padding-left: 30px
			padding-right: 30px
		li.active
			a
				color: #000
		a
			transition: $transition
			&:hover
				color: #000
				transition: $transition

.user__info
	margin-bottom: 50px
	&-img
		width: 50px
		height: 50px
		background-image: url("../img/sprite.png")
		background-repeat: no-repeat
		background-position: -9px -8px
		margin: auto
	&:nth-of-type(2)
		.user__info-img
			background-position: -10px -117px
	&:nth-of-type(3)
		.user__info-img
			background-position: -10px -238px
	&:nth-of-type(4)
		.user__info-img
			background-position: -14px -334px
		h2
			margin-bottom: 0
		p
			text-align: center
			font-family: $light
			font-size: 16px
			width: 470px
			margin: auto
			margin-top: 10px
			line-height: 1.5
		textarea
			font-size: 20px
			padding-left: 18px
			height: 177px
			resize: none
			margin-top: 40px
			padding-top: 17px
	&-descr__top
		p
			width: 520px
			margin: auto
			position: relative
		input
			position: relative
			z-index: 1
			font-size: 20px
		label
			position: absolute
			top: 20px
			left: 0
			right: 0
			margin: auto
			text-align: center
			font-size: 14px
			color: #adadad
			opacity: 0
			z-index: 0
		input:focus
			border: 1px solid $accent
		input:focus + label, .active__input
			top: 2px
			opacity: 1
			transition: $transition
			font-size: 14px
			z-index: 1
.dropdown.scrollable 
	div::after
		box-shadow: none !important
.dropdown, .dropdown.open
	.carat
		border: none
	.selected
		color: #000
		font-size: 20px
		text-transform: none
		text-align: center
		&::after
			box-shadow: none !important
.dropdown, .dropdown.focus, .dropdown:hover
	background: transparent
	border: 1px solid #c8c8c8
	.carat
		width: 13px
		height: 9px
		background-image: url("../img/shape_sprite.png")
		background-position: -4px -22px
		background-repeat: no-repeat
.dropdown
	width: 320px
	margin: auto
	margin-bottom: 23px
	div
		background: #fff !important
		box-shadow: 0px 0px 9px 0px rgba(214,214,214,1)
		padding-bottom: 20px
	ul
		padding-left: 0	
		padding-bottom: 33px
		&::-webkit-scrollbar-track
			border-radius: 50x
			background: #fff
		&::-webkit-scrollbar
			width: 5px
			background-color: #F5F5F5
		&::-webkit-scrollbar-thumb
			border-radius: 5px
			background-color: #d9d9d9
	li
		border-bottom: none
		color: $accent
		text-align: center
		font-family: $light
		font-size: 20px
		padding: 8px 12px
		&:first-child
			display: none
	li.focus, li.active
		background: transparent !important
		color: #000


.experience__list
	padding: 0
	margin: 0
	list-style: none
	display: flex
	flex-wrap: wrap
	li
		width: 33.333%
		position: relative
		padding-left: 33px
		padding-bottom: 10px
	label
		cursor: pointer
		user-select: none
		font-size: 16px
		font-family: $light
		&::before
			content: ''
			position: absolute
			width: 20px
			height: 20px
			border: 1px solid $accent
			border-radius: 3px
			left: 0
			top: 3px
			background-color: #fff
			transition: $transition
		&::after
			content: ''
			position: absolute
			left: 3px
			top: 8px
			width: 13px
			height: 9px
			background-image: url("../img/shape_sprite.png")
			background-repeat: no-repeat
			background-position: -3px 0px
	input[type="checkbox"]:checked + label::before
		background-color: $accent
		transition: $transition
.rangeslider, .rangeslider__fill
	box-shadow: none !important
.rangeslider
	border-radius: 0
	&::after
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 13px
		border-top: 0 solid rgba(255, 255, 255, 0)
		border-left: 770px solid #fff
		border-bottom: 11px solid transparent
.rangeslider--horizontal 
	height: 14px
	.rangeslider__fill
		background: linear-gradient(to right, #ccb1f1, #8986c3)
		border-radius: 0
		box-shadow: none
		width: 100%
	.rangeslider__handle
		top: 15px
.rangeslider__handle
	height: 25px
	width: 22px
	background-image: url("../img/shape_sprite.png") !important
	background-repeat: no-repeat
	background-position: 0px -29px
	box-shadow: none
	border: none
	&::after
		display: none
.range__variants
	position: relative
	display: flex
	align-items: flex-end
	padding-bottom: 20px
	span
		width: 185px
		font-family: $light
		font-size: 13px
		display: block
		&::before
			content: ''
			position: absolute
			height: 20px
			width: 1px
			border-left: 1px dashed #b7b7b7
			bottom: 0
		&:nth-child(2)
			padding-left: 12px
		&:nth-child(3)
			width: 192px
			padding-left: 13px
		&:nth-child(4)
			padding-left: 55px
			width: 206px
			&::before
				right: 0
.btn
	text-align: center

#nav-toggle
	position: fixed
	right: 16px
	z-index: 100
	top: 30px
	cursor: pointer
	padding: 10px 35px 16px 0px
	span
		cursor: pointer
		border-radius: 1px
		height: 2px
		width: 35px	
		background: #464646
		position: absolute
		display: block
		content: ''
		&:before, &:after
			cursor: pointer
			border-radius: 1px
			height: 2px
			width: 35px
			background: #464646
			position: absolute
			display: block
			content: ''
		&:before
			top: -10px
		&:after
			bottom: -10px
			transition: all 100ms ease-in-out
		&:before, &:after
			transition: all 100ms ease-in-out
	&.active span
		background-color: transparent
		&:before, &:after
			top: 0
		&:before
			transform: rotate(45deg)
		&:after
			transform: rotate(-45deg)


//FOR RETINA DISPLAYS
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
	.user__info-img
		background-image: url("../img/sprite_@2x.png")
		background-size: 138%
	.dropdown, .dropdown.focus, .dropdown:hover
		.carat
			background-image: url("../img/shape_sprite_@2x.png")
			background-size: 213%
	.rangeslider__handle
		background-image: url("../img/shape_sprite_@2x.png")
		background-size: 100%
@import "media" 
